{% assign cover = kind == "home" -%}

<nav class="td-navbar navbar-dark js-navbar-scroll
            {%- if cover %} td-navbar-cover {%- endif %}">
<div class="container-fluid flex-column flex-md-row">
    <a class="navbar-brand" href="{{ "/" | relUrl }}">
        <span class="navbar-brand__name">
        {{- site.title -}}
        </span>
    </a>
    <div class="td-navbar-nav-scroll ms-md-auto" id="main_navbar">
        <ul class="navbar-nav">
        {%- for entry in site.menu.main -%}
            <li class="nav-item">
                {%- assign external = entry.external | default: false -%}
                {%- assign active = page.path | relUrl | startsWith: entry.url -%}
                <a class="nav-link {%- if active %} active {%- endif %}" href="{{ entry.url | relUrl }}" {% if external -%}target="_blank" rel="noopener"{%- endif %}>{{ entry.name }}</a>
            </li>
        {%- endfor -%}
        </ul>
    </div>
    <div class="d-none d-lg-block">
        {% include "partials/search-input" %}
    </div>
    </div>
</nav>
