<div id="td-sidebar-menu" class="td-sidebar__inner">
    {% if site.sidebar_search_disable != true %}
    <form class="td-sidebar__search d-flex align-items-center">
        {% include "partials/search-input" %}
        <button class="btn btn-link td-sidebar__toggle d-md-none p-0 ms-3 fas fa-bars" type="button" data-bs-toggle="collapse" data-bs-target="#td-section-nav" aria-controls="td-section-nav" aria-expanded="false" aria-label="Toggle section navigation">
        </button>
    </form>
    {% else %}
    <div id="content-mobile">
        <form class="td-sidebar__search d-flex align-items-center">
            {% include "partials/search-input" %}
            <button class="btn btn-link td-sidebar__toggle d-md-none p-0 ms-3 fas fa-bars" type="button" data-bs-toggle="collapse" data-bs-target="#td-section-nav" aria-controls="td-section-nav" aria-expanded="false" aria-label="Toggle section navigation">
            </button>
        </form>
    </div>
    <div id="content-desktop"></div>
    {% endif %}
    <nav class="td-sidebar-nav collapse
        {%- if site.sidebar_search_disable %} td-sidebar-nav--search-disabled{% endif %}" id="td-section-nav">
        <ul class="td-sidebar-nav__section pr-md-3 ul-0">
            {% include "partials/sidebar-recurse" section = first_section %}
        </ul>
    </nav>
</div>
