{% assign section = args.section %}
{% assign depth = args.depth | default: 0 %}
{% assign active = page_section.index == section.index %}
{% assign isIndex = page_section.index == page.meta_id %}

{% assign show = active or (page.source | isDescendant: section.index) or (isIndex and (page.source | isAncestor: section.index)) %}
{% assign children = section.children | concat: section.pages | sortedByWeight %}
{% assign hasChild = children | length | gt: 0 %}

<li class="td-sidebar-nav__section-title td-sidebar-nav__section {% if hasChild %}with-child{% else %}without-child{% endif %} {% if show %}active-path{% endif %}">
    {% assign index_info = section.index | pageInfo %}
    {% assign permalink = index_info.path | relUrl %}
    <a href="{{ index_info.path | relUrl }}" class="align-left pl-0 {% if active %}active{% endif %} td-sidebar-link td-sidebar-link__section {% if depth == 0 %} tree-root{% endif %}">
        <span class="{% if active %}td-sidebar-nav-active-item{% endif %}">{{ index_info.data.title }}</span>
    </a>
</li>
{% assign depth = depth | plus: 1 %}
<ul class="ul-{{depth}}">
    <li class="collapse{% if show %} show{% endif %}">
        {% for child in children %}
            {% assign is_page = child.index == null %}
            {% if is_page %}
            {% if child == section.index %}
                {% comment %}
                This is the page defining the section. Don't show both the section and its index!
                {% endcomment %}
                {% continue %}
            {% endif %}

            {% assign active = page.meta_id == child %}
            {% assign page_info = child | pageInfo %}
            {% if page_info.data.hidden != true %}
            <a class="td-sidebar-link td-sidebar-link__page {% if active %} active{% endif %}" href="{{ page_info.path | relUrl }}">{{ page_info.data.title }}</a>
            {% endif %}
            {% else %}
            {% include "partials/sidebar-recurse" section = child depth = depth %}
            {% endif %}
        {% endfor %}
    </li>
</ul>
